body {
  font-family: Helvetica;
  text-align: center;
}

.home h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: Helvetica;
  color: white;

}

a {
  font-size: 18px;
  color: white;
}

.home {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
}

.process {
  color: black;
}

.processhead {
  font-size: 32px;
  font-weight: bold;
}

.item h2 {
  font-size: 32px;
  font-weight: bold;
}

.item p {
  font-size: 14px;
}

.where h2 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
}

span {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
.footer p {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
